body{
    background-image: url(./image/R_copie.png);
    background-size: cover;
}

main{
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.button img{
    width: 30px;
    cursor: pointer;
}

.button{
    width: 6%;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}

.caractere1{
    height: 170px;
    display: block;
    margin: auto;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.obstacle1 img{
    width: 170px;
    position: absolute;
    margin-top: 200px;
}

.obstacle2 img{
    width: 140px;
    position: absolute;
}

.obstacle{
    display: flex;
    width: 10%;
    margin: 0 auto;
    justify-content: space-around;
    position: relative;
}

.direction img{
    width: 30px;
    margin-left: 20px;
}

.icon-direction{
    width: 10%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.container{
    position: relative;
    left: 18%;
    display: flex;
    justify-content: space-between;
    width: 55%;
}