body{
    background-image: url(./image/R_copie.png);
    background-size: cover;
}

.caractere1{
    height: 270px;
    display: block;
    margin: auto;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}